
.reservedBox {
    position: relative;
    height: 19px;
}

.reservedBoxBg {
    position: absolute;
    width: 100%;
    padding-top: 4px;
    font-size: 12px;
}

:host-context(tr.rows:not(:hover)) .reservedBoxBg {
    display: none;
}

:host-context(tr.rows:hover) .reservedBoxBg {
    display: block;
}

.reservedBoxCx {
    background-color: blue;
}

.reservedBoxSx {
    width: 12px;
    float: left;
    background-color: blue;
}

.reservedBoxDx {
    width: 12px;
    float: right;
    background-color: blue;
}

.ishighlightCx {
  background-color: red;
}

.ishighlightSx {
  background-color: red;
}

.ishighlightDx {
  background-color: red;
}

.clearfix {
    clear: both;
}
