<div class="pagescheduler">
  <app-calendaractivity
    [config]="config"
    [year]="year"
    [month]="month"
    [day]="day"
    [datasource]="datasource"
    [rooms]="rooms"
    (changeactivity)="onActivityChanged($event)"
    (createactivity)="onCreateActivity($event)"
    (editactivity)="onEditActivity($event)">

    <div class="table-head" *panelHeadRoom="let head; let i = index">
      <div>
        {{ head.room.roomId }} {{ head.room.roomName }}
      </div>
    </div>

    <div class="table-side" *panelSideRoom="let room; let i = index">
      <mat-card>
        <mat-card-content>
          {{ room.roomId }} {{ room.roomName }}
        </mat-card-content>
      </mat-card>
    </div>
  </app-calendaractivity>
</div>
