<div class="innerPanel">
  <div>
    <mat-form-field class="matformfield180">
      <mat-select name="years" [ngModel]="years" (selectionChange)="onYearsChange($event)">
        <mat-option value="0">-- All years --</mat-option>
        <mat-option value="2018">2018</mat-option>
        <mat-option value="2019">2019</mat-option>
        <mat-option value="2020">2020</mat-option>
        <mat-option value="2021">2021</mat-option>
        <mat-option value="2022">2022</mat-option>
        <mat-option value="2023">2023</mat-option>
        <mat-option value="2024">2024</mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field class="matformfield180">
      <mat-select name="months" [ngModel]="months" (selectionChange)="onMonthsChange($event)">
        <mat-option value="0">-- All months --</mat-option>
        <mat-option value="1">January</mat-option>
        <mat-option value="2">February</mat-option>
        <mat-option value="3">March</mat-option>
        <mat-option value="4">April</mat-option>
        <mat-option value="5">May</mat-option>
        <mat-option value="6">June</mat-option>
        <mat-option value="7">July</mat-option>
        <mat-option value="8">August</mat-option>
        <mat-option value="9">September</mat-option>
        <mat-option value="10">October</mat-option>
        <mat-option value="11">November</mat-option>
        <mat-option value="12">December</mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field class="matformfield180">
      <mat-select name="months" [ngModel]="days" (selectionChange)="onDaysChange($event)">
        <mat-option value="0">-- All day --</mat-option>
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
        <mat-option value="5">5</mat-option>
        <mat-option value="6">6</mat-option>
        <mat-option value="7">7</mat-option>
        <mat-option value="8">8</mat-option>
        <mat-option value="9">9</mat-option>
        <mat-option value="10">10</mat-option>
        <mat-option value="11">11</mat-option>
        <mat-option value="12">12</mat-option>
        <mat-option value="13">13</mat-option>
        <mat-option value="14">141</mat-option>
        <mat-option value="15">15</mat-option>
        <mat-option value="16">16</mat-option>
        <mat-option value="17">17</mat-option>
        <mat-option value="18">18</mat-option>
        <mat-option value="19">19</mat-option>
        <mat-option value="20">20</mat-option>
        <mat-option value="21">21</mat-option>
        <mat-option value="22">22</mat-option>
        <mat-option value="23">23</mat-option>
        <mat-option value="24">24</mat-option>
        <mat-option value="25">25</mat-option>
        <mat-option value="26">26</mat-option>
        <mat-option value="27">27</mat-option>
        <mat-option value="28">28</mat-option>
        <mat-option value="29">29</mat-option>
        <mat-option value="30">30</mat-option>
        <mat-option value="31">31</mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <input matInput placeholder="name" #fastsearch>
    </mat-form-field>
  </div>
  <div>
    <ngx-datatable class="material"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="50"
      [rows]="listbookings"
      [count]="count"
      [offset]="page"
      [limit]="pagesize"
      [externalPaging]="false"
      [externalSorting]="false"
      (activate)="onActivate($event)">

      <ngx-datatable-column name="Id" prop="depositId">
        <ng-template ngx-datatable-cell-template let-row="row">
          {{ row.bookingId }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Room" prop="roomNumber">
        <ng-template ngx-datatable-cell-template let-row="row">
          {{ row.roomNumber }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Arrivo" prop="startDate">
        <ng-template ngx-datatable-cell-template let-row="row">
          {{ row.startDate | date:"dd/MM/YYYY" }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Partenza" prop="endDate">
        <ng-template ngx-datatable-cell-template let-row="row">
          {{ row.endDate | date:"dd/MM/YYYY" }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Nome" prop="name">
        <ng-template ngx-datatable-cell-template let-row="row">
          {{ row.name }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
